.mat-card {
    background-color: rgba(255,255,255,0.7);
}
.list-area {
    padding: 20px;
}

.card {
    width: 80vw;
    margin: 10px;
}

.edit-btn {
    cursor:pointer;
    padding: 10px;
    border-radius: 15px;
}

.edit-btn:hover {
    background-color: #ffc100;
}

.delete-btn {
    cursor:pointer;
    padding: 10px;
    border-radius: 15px;
}

.delete-btn:hover {
    background-color: #cd5c5c;
}