<div class="list-area">
<div *ngIf="transactList === undefined">
    <mat-card>
        No Items in List!
    </mat-card>
</div>
<div class="pad" fxLayout="row column" fxLayoutAlign="center" *ngIf="transactList">
    <mat-card class="card" *ngFor="let t of transactList; let i = index">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <mat-card-header>
                    <div *ngIf="t.orderType === 'Buy'" mat-card-avatar 
                    class="header-image" ></div>
                    <div *ngIf="t.orderType === 'Sell'" mat-card-avatar 
                    class="header-image-sell"></div>
                    <mat-card-title>{{t.orderType | uppercase}}: {{t.unit}} BTC</mat-card-title>
                    <mat-card-subtitle>{{t.orderDate | date: "medium"}}</mat-card-subtitle>
                </mat-card-header>
                <span class="bold"> Unit Price: SG{{t.rate | currency }}</span>
            </div>
            <div>
            <div class="edit-btn" (click)="toEdit(t.id)">
                <mat-icon>edit</mat-icon>
            </div>
            <div class="delete-btn" (click)="toDelete(t.name, t.id)">
                 <mat-icon>delete</mat-icon>
            </div>
            </div>
        </div>
    </mat-card>
</div>
</div>