<div class="main fixed-bg">
  <mat-toolbar fxLayout="row" fxLayoutAlign="flex-start center">
          <a class="home"  [routerLink]="['/']">
            <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="2vw">
              <img src="assets/images/bitcoin-icon.gif" height="30px"> 
              <div>Bitcoin Exchange</div>
          </div></a>
          <div class="buttons" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="2vw">
              <button class="for-large-screens" mat-raised-button color="accent" [routerLink]="['/list']" fragment="main">List</button>
              <button mat-raised-button color="accent" [routerLink]="['/transact']" [queryParams]="{transact: 'sell'}">Sell</button>
              <button mat-raised-button color="accent" [routerLink]="['/transact']" [queryParams]="{transact: 'buy'}">Buy</button>
          </div>
  </mat-toolbar>
  <a id="main">
  <router-outlet></router-outlet>
  </a>
</div>